#header-container {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}
#header-inner{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #logo {
  margin-left: 20%;
} */
#logo img {
  width: 144px;
  height: 65px;
}
#text1 {
  display: block;
  margin-right: 100px;
}
#loginContainer {
  margin: auto 0;
  margin-right: 0;
  position: relative;
  margin-top: 35px;
}
.loginBtn11 {
  font-size: 15px;
  font-weight: bolder;
  font-family: 'NotoSansKRLight';
  text-decoration: none;
  color: inherit;
  margin-left: 15px;

  &:hover{
    color: #3067EA;
  }
}
.menuBtn{
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  margin-right: 20px;
}
.menuBtn:hover{
  cursor: pointer;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}