#mainContainer {
  width: 100%;
}
#mainContent1 {
  height: 500px;
  background-image: url('../../public/images/booklet-426781.jpg');
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  display: block;
  text-align: center;
}
#mainContent2 {
  height: 500px;
  background-image: url('../../public/images/flower.jpg');
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  display: block;
  text-align: center;
}
h1 {
  margin-top: 0;
}
