#paSideConatiner{
  width: 12%;
  height: 100%;
  position: fixed;
  background-color: #2a2b2e;
}
#allPhotoBtnOff{
  padding-left: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: auto;
  outline: none;
  color: white;
}
#allPhotoBtnOn{
  background-color: #3067ea;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}
.sideBtn{
  padding-left: 10%;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: auto;
  outline: none;
  color: white;
}
#favorPhotoBtnOff{
  padding-left: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 7px;
  cursor: pointer;
  width: auto;
  outline: none;
  color: white;
}
#favorPhotoBtnOn{
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #3067ea;
}
.sideBtn:hover{
  background-color: #3067ea;
}
#folderParentContainer{
  padding-left: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
#folderParentContainer:hover{
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #3067ea;
}
#makeFolderBtn{
  font-weight: normal;
  color: white;
}
#folderParent{
  width: 179px;
  cursor: pointer;
  color: white;
}
#folderParent:hover{
  background-color: #3067ea;
}
#folderParentOption{
  padding-top: 2px;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}
#folderParentOption:hover{
  color: blue;
}

#folderList{
  list-style-type: none;
  margin-top: 3px;
}
#folders{
  width: 200px;
  display: flex;
}
.folderContainer{
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.folderName{
  display: block;
  max-width: 200px;
  width: 200px;
  cursor: pointer;
  color: white;
}
.folderName:hover{
  color: #a5bbec;
}
.folderOption{
  margin-right: 0px;
  display: block;
  width: 40px;
  cursor: pointer;
  padding-left: 5px;
  color: white;
}
.folderOption:hover{
  color: #a5bbec;
}