#paMenuContainer {
  width: 88%;
  height: 10vh;
  margin-left: 15%;
  margin-top: 10px;
  position: relative;
  display: flex;
}

#paMenuOption {
  display: flex;
  margin-top: 7px;
  margin-left: 5px;
}

#searchContainer {
  display: flex;
  width: 400px;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  margin-right: 0px;
}

#photoSelectAll {
  font-size: 17px;
}

#photoControl {
  display: flex;
}

.photoControlBtn {
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
  height: min-content;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 7px;
  background-color: #f8f8f8;

  
  &:hover{
    background-color: #3067ea;
    color: white;
    font-weight: bold;
  }
}

#photoSearchText {
  width: 300px;
  height: 20px;
}

#photoSearchBtn {
  border: 1px solid black;
  margin-left: 5px;
  margin-top: 1PX;
  height: 23px;
  cursor: pointer;
}

#tagChooseContainer {
  position: absolute;
  margin-top: 65px;
  margin-left: 5px;
}

#tagChooseBtn {
  font-size: 17px;
  cursor: pointer;
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 3px;
  color: #444444;
  background: #f8f8f8;
  outline: none;

  &:hover{
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
  }

  &:active{
    box-shadow: inset 1px 1px 1px #DFDFDF;   
  }
}

#selectedTagContainer {
  position: absolute;
  display: flex;
  margin-top: 66px;
  margin-left: 90px;
  font-size: 17px;
}

.selectedTags {
  margin-left: 20px;
  font-size: 14px;
}

.tagContainer {
  display: flex;
}

.tagDelete {
  margin-top: 2px;
  color: gray;
  cursor: pointer;
}

.tagDelete:hover {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f8f8f8;
  border-radius: 7px;
}
.custom-file-upload:hover{
  background-color: #3067ea;
  color: white;
  font-weight: bold;
}
.custom-file-upload input {
  display: none;
}
.moveFolderModalContainer{
  position: absolute;
  margin-top: 40px;
  margin-left: 115px;
  z-index: 999;
  background-color: white;
}
.moveFolderModal{
  cursor: pointer;
  width: 134px;
  margin-top: 1px;
  padding-top: 2px;
  border: 1px solid gray;
  background-color: #f8f8f8;
  border-radius: 5px;
  height: 23px;
  padding-left: 3px;
}
.moveFolderModal:hover{
  background-color: gray;
}
