/* 모달창을 화면 중앙. 최상단에 노출 */
.container {
  /* 모달창 크기 */
  margin-top: 3px;
  width: 500px;

  /* 최상단 위치 */
  z-index: 999;
  
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
 

  /* 모달창 디자인 */
  background-color: #3067ea;
  border: 1px solid gray;
  border-radius: 8px;
}

/* 모달창 내부 X버튼 */
.container button{
  background-color: #3067ea;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
#modalTitle{
  margin: 10px 0 13px 10px;
  text-align: center;
  width: 100%;
  display: flex;
  height: 25px;
}
#tagContainer{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px;
}
.allTag{
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  font-family: 'NotoSansKRMedium';
  font-weight: 300;
}
.allTag:hover{
  background-color: #3067ea;
  border: none;
  color: white;
  padding: 6px;
}